<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connection</title>
</head>
<body>
    <div class="lgPage">
        <h1>Authentification par adresse e-mail</h1>
        <br>
        <p>Connectez-vous avec votre et votre mot de passe</p>

        <form action="../templates/index.html">
            <input type="email" placeholder="Veuillez entrer votre e-mail">
            <input type="email" placeholder="Veuillez entrer votre mot de passe">

            <button type="submit">Se Connecter</button>
            <a href="../templates/CreateAccount.html"><button>S'inscrire</button></a>
        </form>
    </div>
</body>
</html>