<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/CreateAccount.css">
    <title>Account Creation</title>
</head>
<body>
    <div class="container">
<!-- 
        <a href="{{ url_for('/') }}""><button class="Preview">Preview</button></a> -->


        <button class="Preview"><a href="{{ url_for('AccountValidated') }}""><img src="../static/images/Back.png" alt="Back.png"></a></button>

        <!-- <a href="{{ url_for('/') }}""></a> -->

        <!-- <button class="Preview">Preview</button> -->

        <div class="text1">
            <h1>Inscription  par adresse e-mail</h1>
            <br>
            <p>Inscrivez-vous et rejoignez la grande communaute</p>
        </div>

        <form action="../templates/index.html">
            <div class="fullName">

            <label for="">Nom <k>*</k></label>
            <input type="text" placeholder="Veuillez entrer votre nom" required>
            
            <div class="name1"></div>
            <label for="">Prenom <k>*</k></label>    
            <input type="text" placeholder="Veuillez entrer votre prenom" >
            
            </div>

            <label for="">Adresse e-mail <k>*</k></label>
            <input type="e-mail" placeholder="Veuillez entrer votre e-mail" required>
            
            <label >Photo de profile <k>*</k></label>

            <!-- <div class="profile-img"> -->

            <label class="file-label">
            <input type="file" class="file-input"
            placeholder="Veuillez choisr une image"
            accept="image/*">
             <k>Upload an image</k>
             <!-- <p>Upload an image</p> -->
            </label>

            <!-- </div> -->

                        <!-- <img class="img" src="../static/images/upload.png" alt="upload.png">     -->


            <label for="">Mot de passe <k>*</k></label>
            <input type="password" placeholder="Veuillez entrer votre mot de passe" required>
            
            <label for="">Confirmer le mot de passe <k>*</k></label>
            <input type="password" placeholder="Veuillez entrer votre mot de passe" required>

            
            <a href="../templates/CreateAccount.html"><button class="btn">S'inscrire</button></a>
        
            <div class="text2">
                <p>En vous inscrivant vous acceptez les <k>Conditions générales d'utilisation</k> et la <k>Politique de confidentialité</k> de notre application </p>
            </div>
        </form>
    </div>
</body>
</html>