<!DOCTYliE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewliort" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Admit liage</title>
</head>
<body>
    <div class="container">
        <div class="cards">

            <div class="card1">
                <div class="rectangle">
                    <img src="../static/images/Gear fifth.jpg" alt="">
                    
                    <a href="view-card1"></a><button class="view">Voir</button>
                </div>
                
            </div>

            <div class="card2">
                <div class="rectangle">
                    <img src="../static/images/AfroPolitan.jpeg" alt="">
                    
                    <a href="view-card2"></a><button class="view">Voir</button>
                </div>

           <div class="card3">
                <div class="rectangle">
                    <img src="../static/images/Otaku Odyssée.jpeg" alt="">
                    
                    <a href="view-card3"></a><button class="view">Voir</button>
                </div>

            <div class="card4">
                <div class="rectangle">
                    <img src="../static/images/Gear fifth.jpg" alt="">
                    
                    <a href="view-card4"></a><button class="view">Voir</button>
                </div>
            <!-- <div class="card5"></div>
            <div class="card6"></div -->
        </div>
        
    
    <div class="sidebar">

        <div class="home">
            <a href="#">
                
            <img class="homeImg" src="../static/images/home.svg" alt="home">
            <p>Home</p>

            </a>
        </div>
        
        <div class="admin">

        <div class="profile" >

        <a href="#">
            <img class="user" src="{{ url_for('profile')}}" alt="user-circle">
            <p>My Profile</p>
        </a>
        
        </div>

        <div class="ctn-text">

            <button class="evt">Events</button>
            
            <ul class="events-dpd">
                <li>Coming</li>
                <li>Ended</li>
            </ul>
        </br>
            <button>Calendar</button>

            <ul class="calendar-dlid">
                <!-- <li>Add</li><li>Edit</li><li>Delete</li>-->
            </ul>
        </br>

            <button>Particiliants</button>

        </br>
            <div class="particiliants-dpd">
            </div>


        </div>
    
    </br>

    <!-- <a href="../templates/connection.html"><button class="conn">Se Connecter</button></a> -->

    </div>
    </div>



    <a href="./CreateEvent.html"><button class="eventCre">
        <i class="fa-light fa-pen-to-square"></i>
        <!-- <img src="./images/edit.svg" alt="edit"> -->
        Create a event</button></a>



    </div>
        <style>
            
        </style>
</body>
</html>