<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Redirect  to updated version.css')}}">
    <title>Redirect to updated version</title>
</head>
<body>
    <div class="container">
        <h1>Félicitations Username 🥳</h1>
        <p>Ceci est la version beta de notre application. Pour accéder à la version finale veuillez cliquez sur ce lien.
            <h2>Code Source</h2>
            https://github.com/AllcodIn/Paiya.git
            
            <h2>L'URL de l'app Paiya</h2>
            <p></p>
        </p>
        </a>
</body>
</html>