<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='Css/Redirect  to updated version.css')}}">
    <title>Redirect to updated version</title>
</head>
<body>
    <div class="container">
        <h1>Félicitations Username 🥳</h1>
        <p>Votre compte à été créé avec succès
            Bienvenue dans Paiya, l´ asssistance pour organiser des événements mémorables
        </p>
        </a>
</body>
</html>